@import "../../node_modules/normalize.css/normalize";
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import "../components/creator/styles.css";

.header {
  @apply text-xs text-center;
  /* h1 {
    font-size: 2rem;
    back
  } */
}

nav {
  padding: 2rem;
  text-align: center;
  /* a {
    padding: 0.5rem;
  } */
}

header {
  padding: 4rem;
}

main {
  padding: 2rem;
}

footer {
  padding: 4rem;
  position: relative;
}

sumaq-copyright {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

sumaq-creator {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

sumaq-screen-size {
  position: absolute;
  top: 0.25rem;
  left: 0;
  right: 0;
  opacity: 0.25;
  text-align: center;
}
